* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

button {
    min-width: 180px;
    letter-spacing: 0.2rem;
}

button:hover {
    transform: scale(1.2);
}

.card {
    border: 1px solid;
}

.jumbotron {
    max-width: 100vw;
}