<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/butterCake.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vue.min.js"></script>
    <title>Ronin-vue-form</title>
</head>

<body>
    <div id="app">
        <div class="jumbotron w-100 text-center bg-primary">
            <h2>Ronin Hotel Customer Service Review Form</h2>
            <p class="h4">
                Please take some time to fill out this form to enable us to continously evaluate our services
            </p>
        </div>
        <div class="container">
            <div class="row flex-center-center">
                <div class="col-md-10 px-5">
                    <form class="form">
                        <div class="group">
                            <label for="name">Name</label>
                            <input class="input shadow" type="text" placeholder="Name here" v-model="fields.name" />
                            <span style="float: right">{{ fields.name.length }}/20</span>
                            <span style="color: red">{{ fieldErrors.name }}</span>
                            <span v-if="isNameLimitExceeded" style="color: red; display: block">
                  Must be under twenty characters
                </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row fj-around">
                            <div class="group">
                                <label for="doa">Arrival date</label>
                                <input class="input shadow" type="date" v-model="fields.arrivalDate" />
                                <span style="color: red">{{ fieldErrors.arrivalDate }}</span>
                            </div>
                            <div class="group">
                                <label for="dol">Departure Date</label>
                                <input class="input shadow" type="date" v-model="fields.departureDate" />
                                <span style="color: red">{{ fieldErrors.departureDate }}</span
                  >
                </div>
              </div>
              <div class="group">
                <label>Reason for visit (Select as many as apply)</label>
                <select class="input shadow" v-model="fields.reason" multiple>
                  <option>Conference/Workshop</option>
                  <option>Celebrations/Party</option>
                  <option>Travel accommodation/Tourism</option>
                  <option>Catering services</option>
                </select>
                <span style="color: red">{{ fieldErrors.reasons }}</span>
                            </div>
                            <div class="group">
                                <label>Services/Facilities used (Select as many as apply)</label
                >
                <select class="input shadow" v-model="fields.services" multiple>
                  <option>Sauna/Steam Bath</option>
                  <option>Botanical Gardens</option>
                  <option>Gym/Fitness</option>
                  <option>Catering services</option>
                  <option>Conference rooms</option>
                </select>
                <span style="color: red">{{ fieldErrors.services }}</span>
              </div>
              <div class="group">
                <label for="comments">Comments</label>
                                <textarea class="input" placeholder="Comment on the services (include recommendations for improvement)" v-model="fields.comments"></textarea>
                                <span style="float: right">{{ fields.comments.length }}/300</span
                >
                <span style="color: red">{{ fieldErrors.comments }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="group flex-center-center">
                                <button class="btn primary submit h4-md h5-sm" @click="submitForm">
                  Submit
                </button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/anime.min.js"></script>
        <script src="js/main.js"></script>
</body>

</html>